:root {
  // purple-color
  --purple-color-80: #6028E0;
  --purple-color-70: #733DF2;
  --purple-color-60: #8352FA;
  --purple-color-50: #A079FC;
  --purple-color-40: #BFA9F3;
  --purple-color-30: #DED0FE;
  --purple-color-20: #E9E1FD;
  --purple-color-10: #F5F1FD;

  // neutral-color
  --neutral-color-80: #14161B;
  --neutral-color-70: #252831;
  --neutral-color-60: #3B3E46;
  --neutral-color-50: #67696F;
  --neutral-color-40: #919397;
  --neutral-color-30: #D3D4D6;
  --neutral-color-20: #EAEAEB;
  --neutral-color-10: #F4F4F4;

  // success-color
  --success-color-80: #0CC857;
  --success-color-70: #29E072;
  --success-color-60: #41E481;
  --success-color-50: #58E791;
  --success-color-40: #70EBA1;
  --success-color-30: #88EEB1;
  --success-color-20: #A0F1C0;
  --success-color-10: #B8F5D0;
}
