.AppImage {
  position: relative;
}

.Image {
  cursor: pointer;
  border-radius: var(--border-radius-medium);
}

.ImageModal {
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-4px);
  }
}

.max {
  .Image {
    width: 100%;
  }
}
