.Page {
  @include adaptive-max($breakpoint-tablet) {
    padding-top: 44px;
  }

  @include adaptive-max($breakpoint-smartphone) {
    padding-top: 30px;
  }

  position: relative;
  padding-top: 56px;
}

.trigger {
  height: 20px;
  margin: 10px;
}
