.Avatar {
  position: relative;
  object-fit: cover;
  background: linear-gradient(white, white) padding-box,
    var(--gradient-variant-tree-color) border-box;
  border-radius: 50%;
}

.size {
  &-small {
    width: 28px;
    height: 28px;
    padding: 1px;
    border: 1px solid transparent;
  }

  &-medium {
    width: 48px;
    height: 48px;
    padding: 2px;
    border: 2px solid transparent;
  }

  &-large {
    width: 68px;
    height: 68px;
    padding: 2px;
    border: 3px solid transparent;
  }
}
