.ProgressBar {
  cursor: pointer;

  position: relative;

  height: 8px;

  border: 1px solid var(--purple-color-80);
  border-radius: var(--border-radius);

  .Picker {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;

    width: 16px;
    height: 16px;

    visibility: hidden;
    opacity: 0;
    background: var(--purple-color-80);
    border-radius: 50%;

    transition: 0.2s opacity, 0.2s visibility;
  }

  &:hover {
    .Picker {
      visibility: visible;
      opacity: 1;
    }
  }
}

.ProgressFullness {
  position: absolute;
  z-index: 2;
  left: 0;

  width: 0;
  height: 100%;

  background: var(--purple-color-80);
  border-radius: var(--border-radius);
}

.LoadProgressBar {
  z-index: 1;
  background: var(--neutral-color-20);
}
