.SelectWrapper {
  @include input-wrapper;
}

.max {
  @include option-max;
}

.SelectLabel {
  @include input-label;
}

.SelectField {
  @include input-field;

  cursor: pointer;
  position: relative;
  text-align: left;
}

.SelectIcon {
  @include input-icon;
}

.SelectIconError,
.SelectIconSuccess {
  @include input-icon;

  right: calc(16px * 2 + 20px);
}

.SelectIconError {
  color: var(--danger-color-80);
}

.SelectIconSuccess {
  color: var(--success-color-80);
}


.border-size-small {
  border-width: 1px;
}

.border-size-medium {
  border-width: 2px;
}

.border-color-default {
  border-color: var(--neutral-color-30);
}

.SelectOptions {
  @include input-field;

  position: absolute;
  z-index: 100;
  top: calc(100% + 10px);

  overflow: hidden;
  overflow-y: auto;

  max-height: 300px;
  padding: 0;

  border-radius: 8px;
}

.SelectOption {
  cursor: pointer;
  position: relative;
  padding: 8px 25px;
  transition: background 0.3s;

  &:hover {
    background: var(--neutral-color-10);
  }
}

.SelectOptionActive {
  background: var(--neutral-color-20);

  &:hover {
    background: var(--neutral-color-20);
  }
}

.SelectOptionClose {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  color: var(--danger-color-80);
}

.SelectCloseIconTabs svg {
  color: var(--danger-color-80);
}

.SearchInput {
  width: 100%;
  background: var(--neutral-color-00);
  border: none;
  outline: none;

  &::placeholder {
    font: var(--font-body-1);
    color: var(--neutral-color-40);
  }

  &:active,
  &:focus {
    background: var(--neutral-color-20);
  }
}

.OptionText {
  background: var(--neutral-color-00) !important;
}

.readonly {
  cursor: not-allowed;
  user-select: none;

  .SelectLabel {
    color: var(--neutral-color-30);
  }

  .SelectField {
    cursor: not-allowed;
    color: var(--neutral-color-30);
    background: var(--neutral-color-10);
    border-color: var(--disabled-border-color);
  }

  svg {
    color: var(--neutral-color-30);
  }
}

.loading {
  .SelectField {
    @include option-loading;
  }
}

.error {
  @include option-error(".SelectField", false);
}

.validation {
  @include option-validation;

  margin-top: 10px;
}

.success {
  @include option-success(".SelectField", false);
}

.successInfo {
  margin-top: 10px;
  font: var(--font-error-messenger);
  color: var(--success-color-80);
}

.description {
  @include option-description;
}

@include transition-animation;
